.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.profile-title {
  font-family: sans-serif;
}
